.transactionHistory {
  min-width: 500px;
  border: 1px solid #282c34;
  border-radius: 3px;
  margin: 50px 0 0 50px;
  border-spacing:0;
}

.transactionHeader {
background-color: aquamarine;
}
.transactionList {
  background-color: darkgrey;
  text-align: center;
  &:nth-child(odd) {
    background-color: white;
  }
}

.transactionItem {
  padding: 10px 0 10px 0;
}

.transactionHeaderItem {
  padding: 10px 0 10px 0;
}